body{
     background-color: rgb(223, 213, 213);
}

.white{
    background-color: white;
    height: 450px;
    width: 300px;
    border-radius: 10px;
}
.image{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    bottom: 425px;
}
h3{
    height: 240px;
    width: 240px;
    position: relative;
    bottom: 400px;
    margin-top: 0%;
}
p{
    height: 230px;
    width: 230px;
    position: relative;
    bottom: 590px;
}
.attribute{
    font-size: small;
    position: relative;
    bottom: 740px;
}
@media(min-width: 500px){
    .container{
        width: 400px;
    }
}
